<!--
 * @Descripttion: 
 * @version: 1.0
 * @Author: Ankang
 * @Date: 2021-05-06 15:23:12
 * @LastEditors: Ankang
 * @LastEditTime: 2021-05-10 14:58:30
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>京东(JD.COM)-正品低价、品质保障、配送及时、轻松购物！</title>
    <link rel="stylesheet" href="styles/scss/index.css">
    <link rel="stylesheet" href="assets/iconfont/iconfont.css">
</head>

<body>
    <div id="head">
        <div class="nav">
            <ul class="nav_fir_ul">
                <li>
                    <a href=""><i class="iconfont icon-dingwei"></i>北京</a>
                </li>
            </ul>
            <ul class="nav_sec_ul">
                <li class="nav_title"><a href="login.html">你好，请登录</a>&nbsp;&nbsp;<a href="register.html" class="nav_title_red">免费注册</a></li>
                <li class="spacer"></li>
                <li class="nav_title"><a href="">我的订单</a></li>
                <li class="spacer"></li>
                <li class="nav_title"><a href="">我的京东</a></li>
                <li class="spacer"></li>
                <li class="nav_title"><a href="">京东会员</a></li>
                <li class="spacer"></li>
                <li class="nav_title"><a href="">企业采购</a></li>
                <li class="spacer"></li>
                <li class="nav_title"><a href="">客户服务</a></li>
                <li class="spacer"></li>
                <li class="nav_title"><a href="">网站导航</a></li>
                <li class="spacer"></li>
                <li class="nav_title"><a href="">手机京东</a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="w">
            <div id="logo" class="logo"><a href=""></a></div>
            <div class="search">
                <div class="search_form">
                    <input type="text" id="search_text" class="text" placeholder="空气净化器家用">
                    <ul id="search_list"></ul>
                    <button class="button"><i class="iconfont icon-dashujukeshihuaico-"></i></button>
                </div>
                <div class="shopcar">
                    <div class="icon_title">
                        <i class="iconfont icon-gouwuche"></i>
                        <a href="">我的购物车</a>
                        <i class="ci-count" id="shopping-amount">0</i>
                    </div>
                </div>
            </div>
            <div class="navitems">
                <ul class="navitems_ul">
                    <li><a href="" style="color: #f10215; font-weight: bold;">秒杀</a></li>
                    <li><a href="" style="color: #f10215; font-weight: bold;">优惠券</a></li>
                    <li><a href="">PLUS会员</a></li>
                    <li><a href="">品牌闪购</a></li>
                    <li><a href="">拍卖</a> </li>
                    <li><a href="">京东家电</a></li>
                    <li><a href="">京东超市</a></li>
                    <li><a href="">京东生鲜</a></li>
                    <li><a href="">京东国际</a></li>
                    <li><a href="">京东云</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="banner">
            <div class="menu">
                <ul class="fir_menu">
                    <li>
                        <a href="javascript:void(0)">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                        <div class="sec_menu">
                            <div class="sec_menu_box">
                                <div>	    
                                    <a href="#">玩3C</a>
                                    <a href="#">手机频道</a>
                                    <a href="#">网上营业厅</a>
                                    <a href="#">配件选购中心</a>
                                    <a href="#">影像Club</a>
                                    <a href="#">以旧换新</a>
                                </div>
                                <div>
                                    <dl>
                                        <dt>
                                            <a href="#">手机通讯</a>
                                        </dt>
                                        <dd>
                                            <a href="#">618价保</a>
                                            <a href="#">手机</a>
                                            <a href="#">对讲机</a>
                                            <a href="#">以旧换新</a>
                                            <a href="#">手机维修</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">运营商</a>
                                        </dt>
                                        <dd>
                                            <a href="#">合约机</a>
                                            <a href="#">选号码</a>
                                            <a href="#">固话宽带</a>
                                            <a href="#">办套餐</a>
                                            <a href="#">充话费/流量</a>
                                            <a href="#">中国电信</a>
                                            <a href="#">中国移动</a>
                                            <a href="#">中国联通</a>
                                            <a href="#">京东通信</a>
                                            <a href="#">170选号</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">手机配件</a>
                                        </dt>
                                        <dd>
                                            <a href="#">手机壳</a>
                                            <a href="#">贴膜</a>
                                            <a href="#">手机存储卡</a>
                                            <a href="#">数据线</a>
                                            <a href="#">充电器</a>
                                            <a href="#">手机耳机</a>
                                            <a href="#">创意配件</a>
                                            <a href="#">手机饰品</a>
                                            <a href="#">手机电池</a>
                                            <a href="#">苹果周边</a>
                                            <a href="#">移动电源</a>
                                            <a href="#">蓝牙耳机</a>
                                            <a href="#">手机支架</a>
                                            <a href="#">车载配件</a>
                                            <a href="#">拍照配件</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">摄影摄像</a>
                                        </dt>
                                        <dd>
                                            <a href="#">数码相机</a>
                                            <a href="#">单电/微单相机</a>
                                            <a href="#">单反相机</a>
                                            <a href="#">拍立得</a>
                                            <a href="#">运动相机</a>
                                            <a href="#">摄像机</a>
                                            <a href="#">镜头</a>
                                            <a href="#">户外器材</a>
                                            <a href="#">影棚器材</a>
                                            <a href="#">冲印服务</a>
                                            <a href="#">数码相框</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">数码配件</a>
                                        </dt>
                                        <dd>
                                            <a href="#">存储卡</a>
                                            <a href="#">三脚架/云台</a>
                                            <a href="#">相机包</a>
                                            <a href="#">滤镜</a>
                                            <a href="#">闪光灯/手柄</a>
                                            <a href="#">相机清洁/贴膜</a>
                                            <a href="#">机身附件</a>
                                            <a href="#">镜头附件</a>
                                            <a href="#">读卡器</a>
                                            <a href="#">支架</a>
                                            <a href="#">电池/充电器</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">影音娱乐</a>
                                        </dt>
                                        <dd>
                                            <a href="#">耳机/耳麦</a>
                                            <a href="#">音箱/音响</a>
                                            <a href="#">便携/无线音箱</a>
                                            <a href="#">收音机</a>
                                            <a href="#">麦克风</a>
                                            <a href="#">MP3/MP4</a>
                                            <a href="#">专业音频</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">智能设备</a>
                                        </dt>
                                        <dd>
                                            <a href="#">智能手环</a>
                                            <a href="#">智能手表</a>
                                            <a href="#">智能眼镜</a>
                                            <a href="#">智能机器人</a>
                                            <a href="#">运动跟踪器</a>
                                            <a href="#">健康监测</a>
                                            <a href="#">智能配饰</a>
                                            <a href="#">智能家居</a>
                                            <a href="#">体感车</a>
                                            <a href="#">无人机</a>
                                            <a href="#">其他配件</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="#">电子教育</a>
                                        </dt>
                                        <dd>
                                            <a href="#">学生平板</a>
                                            <a href="#">点读机/笔</a>
                                            <a href="#">早教益智</a>
                                            <a href="#">录音笔</a>
                                            <a href="#">电纸书</a>
                                            <a href="#">电子词典</a>
                                            <a href="#">复读机</a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                    <li>
                        <a href="">手机</a><span>/</span><a href="">运营商</a><span>/</span><a href="">数码</a>
                    </li>
                </ul>
            </div>
            <div class="slideshow">
                <div class="show1"></div>
                <div class="show2">
                    <img src="./assets/images/show2_a.png" alt="">
                    <img src="./assets/images/show2_a.png" alt="">
                    <img src="./assets/images/show2_a.png" alt="">
                </div>
            </div>
            <div class="top_news">
                <div class="login">
                    <div class="login-t">
                        Hi，欢迎来到京东！<br>
                        <a href="" class="name"></a>
                        <a href="login.html" class="yin">登录</a>
                        <a href="register.html" class="yin">注册</a>
                        <a href="#" class="user_info">
                            <img src="./assets/images/no_login.jpg" alt="">
                        </a>
                    </div>
                    <div class="login-b">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center main">
        <div class="jd_miaosha h">
            <a href="" class="miaosha_pic">
                <div class="miaosha_title">京东秒杀</div>
                <div class="countdown-desc">
                    <strong>14:00</strong>
                    点场 距结束
                </div>
                <div class="sk_cd_main">
                    <div class="cd clearfix">
                        <div class="cd_item cd_hour">
                            <span class="cd_item_txt"></span>
                        </div>
                        <div class="cd_split">
                            <i class="cd_split_dot cd_split_top"></i>
                            <i class="cd_split_dot cd_split_bottom"></i>
                        </div>
                        <div class="cd_item cd_minute">
                            <span class="cd_item_txt"></span>
                        </div>
                        <div class="cd_split">
                            <i class="cd_split_dot cd_split_top"></i>
                            <i class="cd_split_dot cd_split_bottom"></i>
                        </div>
                        <div class="cd_item cd_second">
                            <span class="cd_item_txt"></span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="miaosha_list">
                <div class="miaosha_items">
                    <a href="" class="miaosha_item">
                        <div class="item_pic">
                            <img src="./assets/images/miaosha_item.jpg" alt="">
                        </div>
                        <h6>【新品】元气森林燃茶 无糖无脂肪乌龙茶解腻茶饮料 500ml*15瓶装 焙火乌龙茶饮料500ml*15瓶</h6>
                        <div class="item_price">
                            <span class="price_miaosha">
                                <i>¥</i>
                                <span>86.90</span>
                            </span>
                            <span class="price_origin">
                                <i>¥</i>
                                <span>139.90</span>
                            </span>
                        </div>
                    </a>
                    <a href="" class="miaosha_item">
                        <div class="item_pic">
                            <img src="./assets/images/miaosha_item.jpg" alt="">
                        </div>
                        <h6>【新品】元气森林燃茶 无糖无脂肪乌龙茶解腻茶饮料 500ml*15瓶装 焙火乌龙茶饮料500ml*15瓶</h6>
                        <div class="item_price">
                            <span class="price_miaosha">
                                <i>¥</i>
                                <span>86.90</span>
                            </span>
                            <span class="price_origin">
                                <i>¥</i>
                                <span>139.90</span>
                            </span>
                        </div>
                    </a>
                    <a href="" class="miaosha_item">
                        <div class="item_pic">
                            <img src="./assets/images/miaosha_item.jpg" alt="">
                        </div>
                        <h6>【新品】元气森林燃茶 无糖无脂肪乌龙茶解腻茶饮料 500ml*15瓶装 焙火乌龙茶饮料500ml*15瓶</h6>
                        <div class="item_price">
                            <span class="price_miaosha">
                                <i>¥</i>
                                <span>86.90</span>
                            </span>
                            <span class="price_origin">
                                <i>¥</i>
                                <span>139.90</span>
                            </span>
                        </div>
                    </a>
                    <a href="" class="miaosha_item">
                        <div class="item_pic">
                            <img src="./assets/images/miaosha_item.jpg" alt="">
                        </div>
                        <h6>【新品】元气森林燃茶 无糖无脂肪乌龙茶解腻茶饮料 500ml*15瓶装 焙火乌龙茶饮料500ml*15瓶</h6>
                        <div class="item_price">
                            <span class="price_miaosha">
                                <i>¥</i>
                                <span>86.90</span>
                            </span>
                            <span class="price_origin">
                                <i>¥</i>
                                <span>139.90</span>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="miaosha_brand">
                <a href="" class="brand_item">
                    <div class="brand_pic">
                        <img src="./assets/images/brand_pic.jpg" alt="">
                    </div>
                    <div class="brand_info">
                        <p class="brand_info_title">工业品超级品类日</p>
                        <p class="item_info_promo"> 满300减60</p>
                        <div class="item_info_action">品类秒杀<i class="iconfont"></i></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="center main">
        <div class="square">
            <div class="square_title">
                <span></span>
                <h3>频道广场</h3>
                <span></span>
            </div>
            <div class="square_content">
                <div class="box">
                    <a href=""><img
                            src="https://img10.360buyimg.com/babel/s580x740_jfs/t1/133621/19/17467/111378/5fbf8318E6ccf4818/c5e52bf95e7c3850.jpg!cc_290x370.webp"
                            alt=""></a>
                </div>
                <div class="box">
                    <a href=""><img
                            src="https://img11.360buyimg.com/babel/s580x740_jfs/t1/168303/35/8655/261408/603db12dE885ad355/b7b88defb9b6d0e5.jpg!q95!cc_290x370.webp"
                            alt=""></a>
                </div>
                <div class="box1">
                </div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
                <div class="box1"></div>
            </div>
        </div>
    </div>
    <div class="center main">
        <div class="recommend square">
            <div class="recommend_title square_title">
                <span></span>
                <h3>为你推荐</h3>
                <span></span>
            </div>
            <div class="recommend_content">
                <ul class="recommend_tab">
                    <li class="recommend_item recommend_tab_active">
                        <div class="recommend_item_title">
                            <span class="recommend_item_title_text">精选</span>
                        </div>
                        <div class="recommend_item_title_content">猜你喜欢</div>
                        <div class="item_line"></div>
                    </li>
                    <li class="recommend_item">
                        <div class="recommend_item_title">
                            <span class="recommend_item_title_text">智能先锋</span>
                        </div>
                        <div class="recommend_item_title_content">大电器城</div>
                        <div class="item_line"></div>
                    </li>
                    <li class="recommend_item">
                        <div class="recommend_item_title">
                            <span class="recommend_item_title_text">居家优品</span>
                        </div>
                        <div class="recommend_item_title_content">品质生活</div>
                        <div class="item_line"></div>
                    </li>
                    <li class="recommend_item">
                        <div class="recommend_item_title">
                            <span class="recommend_item_title_text">超市百货</span>
                        </div>
                        <div class="recommend_item_title_content">百货生鲜</div>
                        <div class="item_line"></div>
                    </li>
                    <li class="recommend_item">
                        <div class="recommend_item_title">
                            <span class="recommend_item_title_text">时尚达人</span>
                        </div>
                        <div class="recommend_item_title_content">美妆穿搭</div>
                        <div class="item_line"></div>
                    </li>
                    <li class="recommend_item">
                        <div class="recommend_item_title">
                            <span class="recommend_item_title_text">进口好物</span>
                        </div>
                        <div class="recommend_item_title_content">京东国际</div>
                    </li>
                </ul>
                <div class="recommend_items">
                    <ul class="recommend_box">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="footer">
            <div class="footer_title">
                <div class="footer_box">
                    <ul>
                        <li class="server_li">
                            <div class="server_li_box">
                                <h5 class="server_li_pic duo_pic"></h5>
                                <p class="service_li_word">品类齐全，轻松购物</p>
                            </div>
                        </li>
                        <li class="server_li">
                            <div class="server_li_box">
                                <h5 class="server_li_pic kuai_pic"></h5>
                                <p class="service_li_word">多仓直发，极速配送</p>
                            </div>
                        </li>
                        <li class="server_li">
                            <div class="server_li_box">
                                <h5 class="server_li_pic hao_pic"></h5>
                                <p class="service_li_word">正品行货，精致服务</p>
                            </div>
                        </li>
                        <li class="server_li">
                            <div class="server_li_box">
                                <h5 class="server_li_pic sheng_pic"></h5>
                                <p class="service_li_word">天天低价，畅选无忧</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_help">
                <div class="footer_help_box">
                    <h5 class="help_nav_tit">购物指南</h5>
                    <ul class="mod_help_nav_con">
                        <li><a href="//help.jd.com/user/issue/list-29.html" target="_blank">购物流程</a></li>
                        <li><a href="//help.jd.com/user/issue/list-151.html" target="_blank">会员介绍</a></li>
                        <li><a href="//help.jd.com/user/issue/list-297.html" target="_blank">生活旅行</a></li>
                        <li><a href="//help.jd.com/user/issue.html" target="_blank">常见问题</a></li>
                        <li><a href="//help.jd.com/user/issue/list-136.html" target="_blank">大家电</a></li>
                        <li><a href="//help.jd.com/user/custom.html" target="_blank">联系客服</a></li>
                    </ul>
                </div>
                <div class="footer_help_box">
                    <h5 class="help_nav_tit">购物指南</h5>
                    <ul class="mod_help_nav_con">
                        <li><a href="//help.jd.com/user/issue/list-29.html" target="_blank">购物流程</a></li>
                        <li><a href="//help.jd.com/user/issue/list-151.html" target="_blank">会员介绍</a></li>
                        <li><a href="//help.jd.com/user/issue/list-297.html" target="_blank">生活旅行</a></li>
                        <li><a href="//help.jd.com/user/issue.html" target="_blank">常见问题</a></li>
                        <li><a href="//help.jd.com/user/issue/list-136.html" target="_blank">大家电</a></li>
                        <li><a href="//help.jd.com/user/custom.html" target="_blank">联系客服</a></li>
                    </ul>
                </div>
                <div class="footer_help_box">
                    <h5 class="help_nav_tit">购物指南</h5>
                    <ul class="mod_help_nav_con">
                        <li><a href="//help.jd.com/user/issue/list-29.html" target="_blank">购物流程</a></li>
                        <li><a href="//help.jd.com/user/issue/list-151.html" target="_blank">会员介绍</a></li>
                        <li><a href="//help.jd.com/user/issue/list-297.html" target="_blank">生活旅行</a></li>
                        <li><a href="//help.jd.com/user/issue.html" target="_blank">常见问题</a></li>
                        <li><a href="//help.jd.com/user/issue/list-136.html" target="_blank">大家电</a></li>
                        <li><a href="//help.jd.com/user/custom.html" target="_blank">联系客服</a></li>
                    </ul>
                </div>
                <div class="footer_help_box">
                    <h5 class="help_nav_tit">购物指南</h5>
                    <ul class="mod_help_nav_con">
                        <li><a href="//help.jd.com/user/issue/list-29.html" target="_blank">购物流程</a></li>
                        <li><a href="//help.jd.com/user/issue/list-151.html" target="_blank">会员介绍</a></li>
                        <li><a href="//help.jd.com/user/issue/list-297.html" target="_blank">生活旅行</a></li>
                        <li><a href="//help.jd.com/user/issue.html" target="_blank">常见问题</a></li>
                        <li><a href="//help.jd.com/user/issue/list-136.html" target="_blank">大家电</a></li>
                        <li><a href="//help.jd.com/user/custom.html" target="_blank">联系客服</a></li>
                    </ul>
                </div>
                <div class="footer_help_box">
                    <h5 class="help_nav_tit">购物指南</h5>
                    <ul class="mod_help_nav_con">
                        <li><a href="//help.jd.com/user/issue/list-29.html" target="_blank">购物流程</a></li>
                        <li><a href="//help.jd.com/user/issue/list-151.html" target="_blank">会员介绍</a></li>
                        <li><a href="//help.jd.com/user/issue/list-297.html" target="_blank">生活旅行</a></li>
                        <li><a href="//help.jd.com/user/issue.html" target="_blank">常见问题</a></li>
                        <li><a href="//help.jd.com/user/issue/list-136.html" target="_blank">大家电</a></li>
                        <li><a href="//help.jd.com/user/custom.html" target="_blank">联系客服</a></li>
                    </ul>
                </div>
                <div class="footer_help_box2">
                    <h5 class="help_nav_tit2">京东自营覆盖区县</h5>
                    <div class="mod_help_nav_con2">
                        <p class="mod_help_cover_info">京东已向全国2661个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。</p>
                    </div>
                </div>
            </div>
            <div class="footer_end">
                <div class="w copyright">
                    <p>
                        <a href="#">关于我们</a>
                        <span> | </span>
                        <a href="#">联系我们</a>
                        <span> | </span>
                        <a href="#">联系客服</a>
                        <span> | </span>
                        <a href="#">合作招商</a>
                        <span> | </span>
                        <a href="#">商家帮助</a>
                        <span> | </span>
                        <a href="#">营销中心</a>
                        <span> | </span>
                        <a href="#">手机京东</a>
                        <span> | </span>
                        <a href="#">友情链接</a>
                        <span> | </span>
                        <a href="#">销售联盟</a>
                        <span> | </span>
                        <a href="#">京东社区</a>
                        <span> | </span>
                        <a href="#">风险监测</a>
                        <span> | </span>
                        <a href="#">隐私政策</a>
                        <span> | </span>
                        <a href="#">京东公益</a>
                        <span> | </span>
                        <a href="#">English Site</a>
                        <span> | </span>
                        <a href="#">Media & IR</a>
                    </p>
                    <div>
                        <p>京公网安备 11000002000088号<span>|</span>京ICP证070359号<span>|</span>互联网药品信息服务资格证编号(京)-经营性-2014-0008<span>|</span>新出发京零 字第大120007号</p>
                        <p>互联网出版许可证编号新出网证(京)字150号<span>|</span>出版物经营许可证<span>|</span>网络文化经营许可证京网文[2014]2148-348号<span>|</span>违法和不良信息举报电话：4006561155</p>
                        <p>Copyright © 2004 - 2019  京东JD.com 版权所有<span>|</span>消费者维权热线：4006067733经营证照|(京)网械平台备字(2018)第00003号<span>|</span>营业执照</p>
                        <p>Global Site<span>|</span>Сайт России<span>|</span>Situs Indonesia<span>|</span>Sitio de España<span>|</span>เว็บไซต์ประเทศไทย</p>
                        <p>京东旗下网站：京东钱包<span>|</span>京东云</p>
                    </div>
                    <p class="foot-icon">
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ding">
        <div class="center">
            <div class="logo"><a href=""></a></div>
            <div class="search_form">
                <input type="text" class="text" placeholder="空气净化器家用">
                <ul></ul>
                <button class="button"><i class="iconfont icon-dashujukeshihuaico-"></i></button>
            </div>
        </div>
    </div>
    <ul class="nav_list">
        <li><a href="javascript:void(0)">秒杀专场</a></li>
        <li><a href="javascript:void(0)">频道广场</a></li>
        <li><a href="javascript:void(0)">为你推荐</a></li>
        <!-- <li><a href="javascript:void(0)">其他问题</a></li> -->
        <li><a href="javascript:void(0)">回到顶部</a></li>
    </ul>
    <script src="./js/index.js"></script>
    <script src="./js/utils.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/timer.js"></script>
    <script src="./js/getdata.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/navset.js"></script>
</body>

</html>